DEBUG=True
SECRET_KEY=change-me

# PostgreSQL
POSTGRES_DB=metrics_db
POSTGRES_USER=metrics_user
POSTGRES_PASSWORD=metrics_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

DJANGO_SETTINGS_MODULE=config.settings.local
